<% provide(:title, 'Sign Up') %>

<div class="row">
	<div class="span6 offset3">
		All fields are required.
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>

			<%=f.label :email %>
			<%=f.text_field :email %>

			<%=f.label :key_id, 'Key ID' %>
			<%=f.text_field :key_id %>

			<%= link_to "Predefined Key", 'http://community.eveonline.com/support/api-key/CreatePredefined?accessMask=71307264' %>

			<%=f.label :v_code, 'Verification Code' %>
			<%=f.text_field :v_code %>

			<%=f.label :password %>
			<%=f.password_field :password %>

			<%=f.label :password_confirmation, 'Password Confirmation' %>
			<%=f.password_field :password_confirmation %>

			<%=f.submit "Register my Account" %>
		<% end %>
	</div>
</div>
