<% provide(:title, 'Sign Up') %>
<h1>This is the signup page</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>

			<%=f.label :email %>
			<%=f.text_field :email %>

			<%=f.label :key_id, 'Key ID' %>
			<%=f.text_field :key_id %>

			<%=f.label :v_code, 'Verification Code' %>
			<%=f.text_field :v_code %>

			<%=f.label :password %>
			<%=f.password_field :password %>

			<%=f.label :password_confirmation %>
			<%=f.password_field :password_confirmation %>

			<%=f.submit "Register" %>
		<% end %>
	</div>
</div>
