<% provide(:title, 'Item Order Summaries') %>

<div class="dropdowns">
  <select id="station_select"> <!-- Selects are dynamically populated by where statements run against the user's MIS -->
    <% station_list = current_user.market_item_summaries.pluck('station_id').uniq %>
    <option value="All">All Stations</option> <!-- The top option is the default option -->
    <% station_list.each do |s|%>
      <option value="<%= "stat" + s.to_s %>"> <%=Station.where("station_id = ?", s).pluck("name")[0]%> </option>
    <% end %>
  </select>


  <select onChange="dropdownCheck()" id="listing_character">
    <% char_list = [] %>
    <% character_id_list = current_user.market_item_summaries.pluck('char_id').uniq %>
    <% character_id_list.each do |cil| %>
      <% char_list.concat(current_user.characters.where('char_id = ?', cil).pluck('name')) %>
    <% end %>
    
    <option value="All">All Characters</option>
    <% char_list.each do |c| %>
      <option value="<%= "char" + character_id_list[char_list.index(c.to_s)].to_s %>"> <%=c.to_s%> </option>
    <% end %>
  </select>

  <select onChange="dropdownCheck()" id="owner">
    <!-- Assemble the arrays necessary for iteration and storage -->
    <% char_list = [] %>
    <% corp_list = [] %>
    <% owner_list = [] %>
    <% inner_hash = {:corp_id => nil, :char_id => nil, :name => nil} %>

    <!-- Query the DB to populate the character_id_list and corp_id_list arrays -->
    <% char_id_list = current_user.market_item_summaries.where('entity = 0').pluck('char_id').uniq %>
    <% corp_id_list = current_user.market_item_summaries.where('entity = 1').pluck('char_id').uniq %>

    <!-- Iterate through the char_id_list, execute a query for each char_id and pluck the name of that char_id from the database, concating it to the owner_list. -->
    <% char_id_list.each do |cil| %>
      <% inner_hash[:corp_id] = nil %>
      <% inner_hash[:char_id] = cil %>
      <% inner_hash[:name] = current_user.characters.where('char_id = ?', cil).pluck('name')[0] %>
      <% owner_list.push(inner_hash.clone) %>
      <% #owner_list.concat(current_user.characters.where('char_id = ?', cil).pluck('name')) %>
    <% end %>

    <!-- Iterate through the corp_id_list, query the DB and pluck the ID for each char_id, then query the Corporation table and pluck each name associated with that character_id and concat it to the owner_list. -->
    <% corp_id_list.each do |cpil| %>
      <% inner_hash[:char_id] = nil %>
      <% inner_hash[:corp_id] = cpil %>
      <% inner_hash[:name] = Corporation.where('character_id = ?', current_user.characters.where('char_id = ?', cpil).pluck('id')).pluck('name')[0] %>
      <% owner_list.push(inner_hash.clone) %>
      <% #owner_list.concat(Corporation.where('character_id = ?', current_user.characters.where('char_id = ?', cpil).pluck('id')).pluck('name')) %>
    <% end %>

    <option value="All">All Owners</option>
    <% owner_list.each do |n| %>
      <option value="<% if n[:corp_id]==nil %><%= "char" + n[:char_id].to_s%><% else %><%= "corp" + n[:corp_id].to_s %><% end %>"> <%= n[:name] %> </option>
    <% end %>
  </select>

  <select onChange="dropdownCheck()" id="type">
    <% type_list = current_user.market_item_summaries.pluck('bid').uniq %>
    <option value="All">Buy/Sell</option>
    <% type_list.each do |t| %>
      <% if t.to_s.eql? "false" %>
        <option value="false">Sell</option>
      <% else %>
        <option value="true">Buy</option>
      <% end %>
    <% end %>
  </select>
</div>


<% if current_user.market_item_summaries.pluck('entity').uniq.include?(1)%>
  <% mis = current_user.market_item_summaries.where('entity = 1') %>
  <div class="corptable"> <!-- Remove the entire div if behavior rules say there are no corp summaries shown. -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <h2>Corporation Item Summaries</h2>
        </tr>
      </thead>
      <tr>
        <table class="table table-condensed" style="border-collapse:collapse;"> <!-- Accordioned Table -->
          <tbody>
            <% mis.each do |n|%>
              <tr data-toggle="collapse" data-target=".demo<%=mis.index(n)%>" data-target="#data4" class="accordion-toggle"> <!-- First 2 rows are the MIS -->
                  <td><b> <%= Item.where("type_id = ?", n.type_id).pluck('name')[0] %> </b></td>
                  <td> <%= Station.where("station_id = ?", n.station_id).pluck('name')[0] %> </td>
                  <td> <%= Character.where("char_id = ?", n.char_id).pluck('name')[0] %> </td>
                  <td class="text-success"> <% char = current_user.characters.where("char_id = ?", n.char_id) %>
                    <%= Corporation.where("character_id = ?", char).pluck('name')[0] %> </td>
                  <td <% if n.bid == false %> 
                        class="text-success">Sell
                      <% else %>
                        class="text-error">Buy
                      <% end %> </td>
              </tr>
              <tr data-toggle="collapse" data-target=".demo<%=mis.index(n)%>" data-target="#data4" class="accordion-toggle"> <!-- Second line of the MIS -->
                  <td> APP <%= n.average_purchase_price %> </td>
                  <td> ASP <%= n.average_sale_price %> </td>
                  <td> APM <%= n.average_percent_markup %> </td>
                  <td> TVE <%= n.total_vol_entered %> </td>
                  <td> TVR <%= n.total_vol_remaining %> </td>
              </tr>
              <% mo = MarketOrder.where("market_item_summary_id = ?", n.id) %>
              <% mo.each do |m| %>
                <tr> <!-- Each Row after that with TD's classed as hiddenRow are individual orders -->
                  <td class="hiddenRow">
                      <div class="accordian-body collapse demo<%=mis.index(n)%>"> <%= Item.where("type_id = ?", m.type_id).pluck('name')[0] %></div>
                  </td>
                  <td class="hiddenRow">
                      <div class="accordian-body collapse demo<%=mis.index(n)%>"> <%= m.price %></div>
                  </td>
                  <td class="hiddenRow">
                      <div class="accordian-body collapse demo<%=mis.index(n)%>">%markup</div>
                  </td>
                  <td class="hiddenRow">
                      <div class="accordian-body collapse demo<%=mis.index(n)%>"> <%= m.vol_entered %></div>
                  </td>
                  <td class="hiddenRow">
                      <div class="accordian-body collapse demo<%=mis.index(n)%>"> <%= m.vol_remaining %></div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </tr>
    </table>
  </div>
<% end %>

<br></br>

<% if current_user.market_item_summaries.pluck('entity').uniq.include?(0)%>
  <% mis = current_user.market_item_summaries.where('entity = 0') %>
  <div class="chartable"> <!-- Remove the entire div if behavior rules say there are no character summaries being shown. -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <h2>Character Item Summaries</h2>
        </tr>
      </thead>
      <tr>
        <table class="table table-condensed" style="border-collapse:collapse;"> <!-- Accordioned Table -->
          <tbody>
            <% mis.each do |n|%>
              <tr data-toggle="collapse" data-target=".demo<%=mis.index(n)%>" data-target="#data4" class="accordion-toggle"> <!-- First 2 rows are the MIS -->
                  <td><b> <%= Item.where("type_id = ?", n.type_id).pluck('name')[0] %> </b></td>
                  <td> <%= Station.where("station_id = ?", n.station_id).pluck('name')[0] %> </td>
                  <td> <%= Character.where("char_id = ?", n.char_id).pluck('name')[0] %> </td>
                  <td class="text-success"> <% char = current_user.characters.where("char_id = ?", n.char_id) %>
                    <%= Corporation.where("character_id = ?", char).pluck('name')[0] %> </td>
                  <td <% if n.bid == false %> 
                        class="text-success">Sell
                      <% else %>
                        class="text-error">Buy
                      <% end %> </td>
              </tr>
              <tr data-toggle="collapse" data-target=".demo<%=mis.index(n)%>" data-target="#data4" class="accordion-toggle"> <!-- Second line of the MIS -->
                  <td> APP <%= n.average_purchase_price %> </td>
                  <td> ASP <%= n.average_sale_price %> </td>
                  <td> APM <%= n.average_percent_markup %> </td>
                  <td> TVE <%= n.total_vol_entered %> </td>
                  <td> TVR <%= n.total_vol_remaining %> </td>
              </tr>
              <% mo = MarketOrder.where("market_item_summary_id = ?", n.id) %>
              <% mo.each do |m| %>
                <tr> <!-- Each Row after that with TD's classed as hiddenRow are individual orders -->
                  <td class="hiddenRow">
                      <div class="accordian-body collapse demo<%=mis.index(n)%>"> <%= Item.where("type_id = ?", m.type_id).pluck('name')[0] %></div>
                  </td>
                  <td class="hiddenRow">
                      <div class="accordian-body collapse demo<%=mis.index(n)%>"> <%= m.price %></div>
                  </td>
                  <td class="hiddenRow">
                      <div class="accordian-body collapse demo<%=mis.index(n)%>">%markup</div>
                  </td>
                  <td class="hiddenRow">
                      <div class="accordian-body collapse demo<%=mis.index(n)%>"> <%= m.vol_entered %></div>
                  </td>
                  <td class="hiddenRow">
                      <div class="accordian-body collapse demo<%=mis.index(n)%>"> <%= m.vol_remaining %></div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </tr>
    </table>
  </div>
<% end %>