<% provide(:title, 'Item Order Summaries') %>

<div class="dropdowns">
  <select id="station_select"> <!-- Selects are dynamically populated by where statements run against the user's MIS -->
    <% station_list = current_user.market_item_summaries.pluck('station_id').uniq %>
    <option value="All">All Stations</option> <!-- The top option is the default option -->
    <% station_list.each do |s|%>
      <option value="<%= s.to_s %>"> <%=Station.where("station_id = ?", s).pluck("name")[0]%> </option>
    <% end %>
  </select>


  <select onChange="dropdownCheck()" id="listing_character">
    <% char_list = [] %>
    <% character_id_list = current_user.market_item_summaries.pluck('char_id').uniq %>
    <% character_id_list.each do |cil| %>
      <% char_list.concat(current_user.characters.where('char_id = ?', cil).pluck('name')) %>
    <% end %>
    
    <option value="All">All Characters</option>
    <% char_list.each do |c| %>
      <option value="<%= character_id_list[char_list.index(c.to_s)].to_s %>"> <%=c.to_s%> </option>
    <% end %>
  </select>

  <select onChange="dropdownCheck()" id="owner">
    <!-- Assemble the arrays necessary for iteration and storage -->
    <% char_list = [] %>
    <% corp_list = [] %>
    <% owner_list = [] %>
    <% inner_hash = {:corp_id => nil, :char_id => nil, :name => nil} %>

    <!-- Query the DB to populate the character_id_list and corp_id_list arrays -->
    <% corp_id_list = current_user.market_item_summaries.where('entity = 1').pluck('char_id').uniq %>

    <!-- Iterate through the corp_id_list, query the DB and pluck the ID for each char_id, then query the Corporation table and pluck each name associated with that character_id and place it in the corresponding symbol. -->
    <% corp_id_list.each do |cpil| %>
      <% inner_hash[:char_id] = nil %>
      <% inner_hash[:corp_id] = cpil %>
      <% inner_hash[:name] = Corporation.where('character_id = ?', current_user.characters.where('char_id = ?', cpil).pluck('id')).pluck('name')[0] %>
      <% owner_list.push(inner_hash.clone) %>
      <% #owner_list.concat(Corporation.where('character_id = ?', current_user.characters.where('char_id = ?', cpil).pluck('id')).pluck('name')) %>
    <% end %>

    <option value="All">All Owners</option>
    <% owner_list.each do |n| %>
      <option value="<%= n[:corp_id].to_s %>"> <%= n[:name] %> </option>
    <% end %>
  </select>

  <select onChange="dropdownCheck()" id="type">
    <% type_list = current_user.market_item_summaries.pluck('bid').uniq %>
    <option value="All">Buy/Sell</option>
    <% type_list.each do |t| %>
      <% if t.to_s.eql? "false" %>
        <option value="false">Sell</option>
      <% else %>
        <option value="true">Buy</option>
      <% end %>
    <% end %>
  </select>
</div>

<% #Partialed out for use in AJAX Calls %>

<%# if current_user.market_item_summaries.pluck('entity').uniq.include?(1)%>
  <%= render :partial => 'corporation_table', :locals => {mis: @mis} %>
  
<%# end %>

<br></br>

<%# if current_user.market_item_summaries.pluck('entity').uniq.include?(0)%>
  <%= render :partial => 'character_table' %>
<%# end %>