<td>
    <div>
      <%= radio_button_tag(:wallet, "0") %>
      <%= label_tag(:wallet_0, "Master") %>
    </div>
</td>
<td>
    <div>
      <%= radio_button_tag(:wallet, @corp.wallet_1) %>
      <%= label_tag(:wallet_1, @corp.wallet_1) %>
    </div>
</td>
<td>
    <div>
      <%= radio_button_tag(:wallet, @corp.wallet_2) %>
      <%= label_tag(:wallet_2, @corp.wallet_2) %>
    </div>
</td>
<td>
    <div>
      <%= radio_button_tag(:wallet, @corp.wallet_3) %>
      <%= label_tag(:wallet_3, @corp.wallet_3) %>
    </div>
</td>
<td>
    <div>
      <%= radio_button_tag(:wallet, @corp.wallet_4) %>
      <%= label_tag(:wallet_4, @corp.wallet_4) %>
    </div>
</td>
<td>
    <div>
      <%= radio_button_tag(:wallet, @corp.wallet_5) %>
      <%= label_tag(:wallet_5, @corp.wallet_5) %>
    </div>
</td>
<td>
    <div>
      <%= radio_button_tag(:wallet, @corp.wallet_6) %>
      <%= label_tag(:wallet_6, @corp.wallet_6) %>
    </div>
</td>