<% provide(:title, 'Enroll new API') %>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@api) do |f| %>
			<%= render 'shared/api_error_messages' %>

			<%= link_to "Predefined Character API Key", 'http://community.eveonline.com/support/api-key/CreatePredefined?accessMask=71307264', :target => '_blank' %><br></br>
			<%= link_to "Corporation Key Guide", '#', :target => '_blank' %>
			<%= f.label :key_id, "Key ID"%>
			<%= f.text_field :key_id %>

			<%= f.label :v_code, "Verification Code" %>
			<div onkeyup="countChar()" onkeydown="countChar()" class="field">		
				<%= f.text_field :v_code %>
			</div>

			<%= f.submit "Submit New Key" %>

			<div class="counter" id="counter">	
			0/64
			</div>
		<% end %>
	</div>
</div>

